data/GENRE/hg19/db/hg19_DNaseSeq/hg19BGpool_multLen150x150.bed.gz filter=lfs diff=lfs merge=lfs -text
data/GENRE/hg19/db/hg19_DNaseSeq/hg19BGpool_multLen150x150.db.gz filter=lfs diff=lfs merge=lfs -text
data/GENRE/hg19/genome/hg19_UnmaskedALL_UCSC.fa.gz filter=lfs diff=lfs merge=lfs -text
